/* about team css start */
.swiper-about-team-main .team-social-links{
    bottom:-40px;
    transition: ease all 0.5s;
}

.swiper-about-team-main:hover .team-social-links{
    bottom: 20px;
}
.about-button{
    width:fit-content !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease all;
}
.about-button::after{
    content: '';
    position: absolute;
    bottom: -100%;
    border-radius: 100%;
    left: 0;
    transition: 0.3s ease all;
    z-index: -1;
    height: 100%;
    width:100%;
    background: linear-gradient(90deg, #000,#731212 );
}
.about-button:hover::after{
    border-radius: 0%;
    bottom: 0%;
}
.about-button:hover{
    border: 0px solid #000 !important;
    color: white !important;
}

.about-button .arrow{
    overflow: hidden;
}
.about-button .arrow .faArrow{
    transition: ease all 0.5s;
}

.about-button:hover .arrow .faArrow{
    transform: translateX(-20px);
}

.about-button.second:hover::after{
    bottom: -100%;
}

.about-button.second:hover{
    color: black !important;
}

/* about team css end */
