@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/* .animate__animated:hover {
  animation: none;
}*/


@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animation-rotate{
    animation: animation-rotate-360 20s linear infinite;
}
@keyframes animation-rotate-360{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* wow some custom css animtion start  */
.animate__animated_shakeX {
  animation: none;
}

.animate__animated_shakeX:hover {
  animation: shakeX 1s  infinite;
} 
/* .animate__animated_shakeX:hover:active {
  animation: shakeX 1s linear;
} */


@keyframes pulseCustom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-once:hover{
  animation: pulseCustom 1s ease-in-out infinite;
}


.animation-scale{
  background-color: antiquewhite !important;
  animation: animation-scale-size 2s ease-in-out infinite;
}
@keyframes animation-scale-size {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animated-random-shape{
  width: 300px !important;
  height: 300px !important;
  position: absolute;
  animation: animated-random-shape 8s infinite ease-in-out;
    filter: blur(30px);
    animation: animated-random-shape 10s ease-in-out infinite;
}

@keyframes animated-random-shape {
  0% {
    border-radius: 20% 50% 30% 70% / 30% 40% 60% 50%;
    transform: translate(0, 0) scale(1);
  }
  25% {
    border-radius: 50% 30% 70% 30% / 40% 60% 30% 50%;
    transform: translate(30px, 50px) scale(1.2) rotate(5deg);
  }
  50% {
    border-radius: 70% 20% 40% 50% / 50% 30% 70% 40%;
    transform: translate(-40px, 80px) scale(0.9) rotate(-10deg);
  }
  75% {
    border-radius: 30% 70% 50% 20% / 60% 40% 30% 70%;
    transform: translate(60px, -40px) scale(1.1) rotate(8deg);
  }
  100% {
    border-radius: 20% 50% 30% 70% / 30% 40% 60% 50%;
    transform: translate(0, 0) scale(1);
  }
}
/* wow some custom css animtion  end */